<mat-toolbar color="primary">
  <span>Rejestrator samochodów </span>


   <button  mat-button  [routerLink]="['/home']">Strona głowna</button>


<div *ngIf="isLogged()">
   <button  mat-button  [routerLink]="['/car-list']">Lista pojazdów </button>
  <button  mat-button  (click)="logout()">Wyloguj się </button>


</div>
<div *ngIf="!isLogged()">
<button  mat-button  [routerLink]="['/login-form']">Zaloguj się </button>
<button  mat-button  [routerLink]="['/register']">Zarejestruj się </button>
</div>

</mat-toolbar>

<router-outlet></router-outlet>
<app-footer></app-footer>
